$transition-cubic-bezier: all 0.2s cubic-bezier(0.075, 0.82, 0.165, 1);

%animation-base {
  transform: translate3d(0, 0, 0);
  backface-visibility: hidden;
  perspective: 1000px;
}

%animation-shake {
  animation: shake 0.5s cubic-bezier(0.075, 0.82, 0.165, 1) both;
  @extend %animation-base;
}

%animation-wiggle {
  animation: wiggle 0.5s cubic-bezier(0.075, 0.82, 0.165, 1) both;
  @extend %animation-base;
}

%animation-fade-in {
  animation: fade-in 0.2s cubic-bezier(0.075, 0.82, 0.165, 1) both;
  @extend %animation-base;
}

%animation-blur-background {
  animation: blur-background 0.2s cubic-bezier(0.075, 0.82, 0.165, 1) both;
  @extend %animation-base;
}

%animation-slide-left {
  animation: slide-left 0.2s cubic-bezier(0.075, 0.82, 0.165, 1);
  @extend %animation-base;
}

%animation-slide-down {
  animation: slide-down 0.2s cubic-bezier(0.075, 0.82, 0.165, 1);
  @extend %animation-base;
}

%animation-slide-up {
  animation: slide-up 0.2s cubic-bezier(0.075, 0.82, 0.165, 1);
  @extend %animation-base;
}

%animation-alert-pulse {
  /* Single use */
  
  animation: pulse 2s forwards;
  
  /* Loop for demo */
  // animation: pulse 2s infinite;
  @extend %animation-base;
}

@keyframes shake {
  10%,
  90% {
    transform: translate3d(-1px, 0, 0);
  }

  20%,
  80% {
    transform: translate3d(1px, 0, 0);
  }

  30%,
  50%,
  70% {
    transform: translate3d(-2px, 0, 0);
  }

  40%,
  60% {
    transform: translate3d(2px, 0, 0);
  }
}

@keyframes wiggle {
  10%,
  90% {
    transform: rotate(1deg);
  }

  20%,
  80% {
    transform: rotate(5deg);
  }

  30%,
  50%,
  70% {
    transform: rotate(-10deg);
  }

  40%,
  60% {
    transform: rotate(5deg);
  }
}

@keyframes fade-in {
  from {
    opacity: 0;
  }
  to {
    opacity: 100%;
  }
}

@keyframes slide-left {
  0% {
    opacity: 0;
    transform: translateX(36px);
  }
  100% {
    opacity: 1;
    transform: translateX(0);
  }
}

@keyframes slide-down {
  0% {
    opacity: 0;
    transform: translateY(-36px);
  }
  100% {
    opacity: 1;
    transform: translateX(0);
  }
}

@keyframes slide-up {
  0% {
    opacity: 0;
    transform: translateY(36px);
  }
  100% {
    opacity: 1;
    transform: translateX(0);
  }
}

@keyframes blur-background {
  from {
    backdrop-filter: blur(0);
  }
  to {
    backdrop-filter: blur(8px);
  }
}

@keyframes pulse {
  0% {
    transform: scale(0.75);
    box-shadow: 0 0 0 0 $color-borders-error-animate-start;
  }

  70% {
    transform: scale(1);
    box-shadow: 0 0 0 10px $color-borders-error-animate-end;
  }

  100% {
    transform: scale(0.75);
    box-shadow: 0 0 0 0 $color-borders-error-animate-end;
  }
}