// @use 'cards.scss';

.card {
  @extend %grid;
  gap: $magic-number * 2;
  padding: $magic-number * 2;
  background-color: $color-background-white;
  /* Dropdown Shadow */
  box-shadow: $effect-dropdown-shadow-0-offset-x
      $effect-dropdown-shadow-0-offset-y + px $effect-dropdown-shadow-0-radius
      $effect-dropdown-shadow-0-spread $effect-dropdown-shadow-0-color,
    $effect-dropdown-shadow-1-offset-x $effect-dropdown-shadow-1-offset-y
      $effect-dropdown-shadow-1-radius $effect-dropdown-shadow-1-spread
      $effect-dropdown-shadow-1-color;
  border-radius: $magic-number;
  * {
    @extend %ellipsis;
    word-break: break-word;
  }
  > img {
    margin-left: -#{$magic-number * 2};
    margin-right: -#{$magic-number * 2};
    margin-top: -#{$magic-number * 2};
  }
  > .buttons {
    display: grid;
    @media (max-width: $breakpoints-tablet) {
      border-top: 1px solid $color-borders-gray;
      margin-left: -#{$magic-number * 2};
      margin-right: -#{$magic-number * 2};
      grid-auto-flow: row;
      gap: 0;
      > button,
      .button {
        @include list-button;
      }
    }
    @media (min-width: $breakpoints-tablet) {
      grid-auto-flow: column;
      width: max-content;
      gap: $magic-number;
      > button,
      .button {
        @include button();
      }
    }
  }
}

.new-card {
  @extend %grid;
  .buttons > button {
    @include button();
  }
}
