// @use 'cards.scss';

.card {
  @extend %grid;
  gap: 0 $magic-number * 2;
  padding: $magic-number * 2;
  background-color: $color-background-white;
  /* Dropdown Shadow */
  box-shadow: $effect-dropdown-shadow-0-offset-x
      $effect-dropdown-shadow-0-offset-y + px $effect-dropdown-shadow-0-radius
      $effect-dropdown-shadow-0-spread $effect-dropdown-shadow-0-color,
    $effect-dropdown-shadow-1-offset-x $effect-dropdown-shadow-1-offset-y
      $effect-dropdown-shadow-1-radius $effect-dropdown-shadow-1-spread
      $effect-dropdown-shadow-1-color;
  border-radius: $magic-number;
  grid-template:
    'card-img'
    'card-body'
    'card-buttons';
  @media (min-width: $breakpoints-tablet) {
    min-width: $magic-number * 70;
    grid-template:
      'card-img card-img'
      'card-body card-buttons'
      / 1fr auto;
    align-items: center;
    justify-content: space-between;
  }
  * {
    @extend %ellipsis;
    word-break: break-word;
  }
  > .card-body {
    grid-area: card-body;
  }
  > img {
    grid-area: card-img;
    margin-bottom: $magic-number * 2;
    margin-left: -#{$magic-number * 2};
    margin-right: -#{$magic-number * 2};
    margin-top: -#{$magic-number * 2};
    object-fit: cover;
    width: calc(100% + #{$magic-number * 4});
    max-width: calc(100% + #{$magic-number * 4});
    max-height: $magic-number * 50;
    border-bottom-left-radius: 0;
    border-bottom-right-radius: 0;
  }
  > .buttons {
    grid-area: card-buttons;
    display: grid;
    @media (max-width: $breakpoints-tablet) {
      border-top: 1px solid $color-borders-gray;
      margin-left: -#{$magic-number * 2};
      margin-right: -#{$magic-number * 2};
      margin-top: $magic-number * 2;
      grid-auto-flow: row;
      gap: 0;
      margin-bottom: -#{$magic-number * 2};
      > button,
      .button {
        @include list-button;
      }
      :last-child {
        border-bottom-right-radius: $magic-number;
        border-bottom-left-radius: $magic-number;
      }
    }
    @media (min-width: $breakpoints-tablet) {
      grid-auto-flow: column;
      width: max-content;
      gap: $magic-number;
      > button,
      .button {
        @include button();
      }
    }
  }
}

.new-card {
  @extend %grid;
  .buttons > button {
    @include button();
  }
}
