.navbar,
.sidebar,
.input-bar,
.message {
  background-color: $background-white;
  box-shadow: $dropdown-shadow-0-offset-x + px $dropdown-shadow-0-offset-y + px
      $dropdown-shadow-0-radius + px $dropdown-shadow-0-spread + px
      $dropdown-shadow-0-color,
    $dropdown-shadow-1-offset-x + px $dropdown-shadow-1-offset-y + px
      $dropdown-shadow-1-radius + px $dropdown-shadow-1-spread + px
      $dropdown-shadow-1-color;
}

.navbar {
  width: 100%;
  display: grid;
  align-items: center;
  grid-auto-flow: column;
  grid-auto-columns: auto 1fr;
  grid-gap: $magic-number;
  justify-items: end;
  .logo img {
    max-height: $magic-number * 7;
    margin-right: $magic-number;
    object-fit: scale-down;
    border-radius: 0;
  }
}

.sidebar {
  height: 100%;
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  @media (min-width: $breakpoints-tablet + px) {
    position: relative;
  }
}

.chat-app {
  display: grid;
  grid-auto-flow: column;
  grid-auto-columns: auto $magic-number * 45;
}

.chat-window {
  overflow-y: auto;
  -webkit-overflow-scrolling: touch; /* Lets it scroll lazy */
}

.chat-app > main {
  display: grid;
  grid-auto-flow: row;
  grid-template-rows: $magic-number * 9 1fr auto;
  grid-gap: 0;
  height: 100vh;
}

.input-bar {
  display: grid;
  grid-auto-flow: column;
  align-content: center;
  grid-gap: $magic-number * 2;
  grid-template-columns: 1fr auto;
  justify-content: start;
  padding-top: $magic-number * 2;
  padding-bottom: $magic-number * 2;
  label,
  button {
    align-self: start;
  }
}

.sidebar.closed {
  display: none;
}

.message-container {
  clear: both;
  margin-bottom: $magic-number;
  margin-top: $magic-number;
  display: grid;
  width: auto;
  transition: all 0.2s cubic-bezier(0.075, 0.82, 0.165, 1);

  @media (min-width: $breakpoints-tablet + px) {
    max-width: 75%;
  }

  > .message-group {
    display: grid;
    grid-auto-flow: column;
    align-items: end;
    grid-gap: $magic-number;
    grid-template-columns: auto auto;
    // z-index: -1; // Causes issues with element click-ability
    .message {
      padding-top: $magic-number;
      padding-bottom: $magic-number;
      padding-left: $magic-number * 2;
      padding-right: $magic-number * 2;
      border-radius: $magic-number;
      white-space: pre-line;
      word-break: break-word;
      img {
        border-radius: $magic-number;
      }
    }
  }
  &.inbound {
    float: left;
    .message-info {
      padding-left: $magic-number * 6;
    }
  }
  &.outbound {
    float: right;
    .message {
      background-color: $actions-primary-default;
      color: $text-white;
      a,
      .text-bold-style-6,
      .text-muted {
        color: $text-white;
      }
    }
  }
}

.typingIndicator {
  display: flex;
  justify-content: center;
  align-items: center;
  padding: $magic-number ($magic-number * 1.75);

  .dot1,
  .dot2,
  .dot3 {
    width: $magic-number;
    height: $magic-number;
    background: $text-gray;
    border-radius: 50%;
    margin: $magic-number $magic-number * 0.25;
    transition: all 0.5s ease-in-out;
    animation: typing 1s infinite;
  }

  .dot1 {
    animation-delay: 1s;
  }

  .dot2 {
    animation-delay: 0.5s;
  }

  .dot3 {
    animation-delay: 0.8s;
  }
}

@keyframes typing {
  0% {
    transform: translateY(0);
    transition: all 0.5s ease-in-out;
  }

  50% {
    transform: translateY(-$magic-number);
    transition: all 0.5s ease-in-out;
  }

  100% {
    transform: translateY(0);
    transition: all 0.5s ease-in-out;
  }
}
