// Important flag added because these helpers must override very specific selectors.

.no-horizontal-padding,
%no-horizontal-padding {
  padding-left: 0 !important;
  padding-right: 0 !important;
}

.no-vertical-padding,
%no-vertical-padding {
  padding-top: 0 !important;
  padding-bottom: 0 !important;
}

.d-none,
%d-none {
  display: none;
}

.grid-column-flow.equal-height,
.equal-width:not(.grid-column-flow) {
  align-items: stretch;
}
