// Important flag added because these helpers must override very specific selectors.

.no-horizontal-padding,
%no-horizontal-padding {
  padding-left: 0 !important;
  padding-right: 0 !important;
}

.no-vertical-padding,
%no-vertical-padding {
  padding-top: 0 !important;
  padding-bottom: 0 !important;
}

.d-none,
%d-none {
  display: none;
}

.grid-column-flow.equal-height,
.equal-width:not(.grid-column-flow) {
  align-items: stretch;
}

.grid-column-flow.auto-width {
  justify-content: stretch;
}

svg.muted,
img.muted {
  opacity: 0.5;
  mix-blend-mode: luminosity;
}

.centered {
  display: flex;
  flex-flow: column;
  align-items: center;
  justify-content: center;
}

.background-off-white,
code {
  background: $color-background-off-white;
}

code {
  padding: $magic-number;
  white-space: pre;
}

.rounded,
code {
  border-radius: $magic-number;
}

.padded-content {
  padding: $magic-number * 2;
  &:only-child {
    padding-top: 0;
  }
}

.justify-start {
  justify-self: flex-start;
}

.justify-end {
  justify-self: flex-end;
}

.spin {
  @extend %animation-spin;
}


.border-muted {
  border: 1px solid $color-text-gray;
}
.border-info {
  border: 1px solid $color-actions-primary-default;
}
.border-success {
  border: 1px solid $color-borders-success;
}
.border-warning {
  border: 1px solid $color-text-warning;
}
.border-danger {
  border: 1px solid $color-borders-error;
}