* {
  margin: 0;
}

html {
  @extend %text-style-6;
  background-color: $color-background-off-white;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  text-rendering: optimizeLegibility;
}

body {
  margin: 0;
  overflow-x: hidden;
}

.container-padding,
%container-padding {
  padding-left: $grid-mobile-grid-0-offset;
  padding-right: $grid-mobile-grid-0-offset;
  box-sizing: border-box;
}

@media (min-width: $breakpoints-tablet) {
  .container-padding,
  %container-padding {
    padding-left: $grid-desktop-grid-0-offset;
    padding-right: $grid-desktop-grid-0-offset;
    box-sizing: border-box;
  }
}

.sidebar,
main {
  @extend %container-padding;
}

#root {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  align-self: center;
  height: 100vh;
}

section {
  // background-color: $color-background-white;
}

img,
svg,
video,
audio,
object,
iframe {
  box-sizing: border-box;
  max-width: 100%;
  display: block;
}

img,
video,
audio,
object,
iframe,
audio::-webkit-media-controls-enclosure {
  border-radius: $magic-number;
}

.grid,
%grid {
  display: grid;
  grid-gap: $magic-number * 3;
}

.grid-column-flow,
%grid-column-flow {
  grid-auto-flow: column;
  align-items: center;
  justify-content: space-between;
}

.gap-8,
%gap-8 {
  gap: $magic-number;
}

.gap-16,
%gap-16 {
  gap: $magic-number * 2;
}

fieldset,
form,
section,
article,
main {
  @extend %grid;
}

nav {
  // grid-area: nav;
  background-color: $color-background-white;
  box-shadow: $effect-dropdown-shadow-0-offset-x
      $effect-dropdown-shadow-0-offset-y $effect-dropdown-shadow-0-radius
      $effect-dropdown-shadow-0-spread $effect-dropdown-shadow-0-color,
    $effect-dropdown-shadow-1-offset-x $effect-dropdown-shadow-1-offset-y
      $effect-dropdown-shadow-1-radius $effect-dropdown-shadow-1-spread
      $effect-dropdown-shadow-1-color;
  @extend %grid;
  @extend %grid-column-flow;
  @extend %container-padding;
  @extend %animation-slide-down;
  padding-top: $magic-number;
  padding-bottom: $magic-number;
  position: relative;
  z-index: 5;
  min-height: $magic-number * 9;
  .sidebar-toggle svg {
    fill: $color-text-gray;
  }
}

.logo-name-wrapper {
  @extend %grid;
  @extend %grid-column-flow;
  @extend %gap-8;
  @extend %text-style-4;
  grid-template-columns: auto 1fr;
  > h1,
  h2,
  h3,
  h4,
  h5,
  h6 {
    @extend %ellipsis;
  }
}

.navbar-links {
  @extend %grid;
  @extend %grid-column-flow;
  > a,
  button,
  .dropdown-trigger > a {
    text-decoration: none;
  }
}

.avatar-image {
  background: $color-background-white;
  color: $color-text-black;
  border-radius: 50%;
  display: flex;
  align-items: center;
  justify-content: center;
  object-fit: scale-down;
}

.alert-dot {
  background: $color-borders-error;
  border-radius: $magic-number;
  height: $magic-number * 2;
  width: $magic-number * 2;

  box-shadow: 0 0 0 0 $color-borders-error;
  transform: scale(1);
  display: none;
  &.animated {
    display: block;
    @extend %animation-alert-pulse;
  }
}
