* {
  margin: 0;
}

html {
  @extend .text-style-6;
  background-color: $background-off-white;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  text-rendering: optimizeLegibility;
}

body {
  margin: 0;
}

.container-padding {
  padding-left: $mobile-grid-0-offset + px;
  padding-right: $mobile-grid-0-offset + px;
  box-sizing: border-box;
}

@media (min-width: $breakpoints-tablet + px) {
  .container-padding {
    padding-left: $desktop-grid-0-offset + px;
    padding-right: $desktop-grid-0-offset + px;
    box-sizing: border-box;
  }
}

#root {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  align-self: center;
  height: 100vh;
}

section {
  // background-color: $background-white;
}

img,
svg,
video,
audio {
  box-sizing: border-box;
  max-width: 100%;
  display: block;
}

.text-muted {
  color: $text-gray;
}

.grid {
  display: grid;
  grid-gap: $magic-number * 3;
}

fieldset,
form,
section,
article,
main {
  @extend .grid;
}
