/* latin-ext */
@font-face {
  font-family: 'Roboto';
  font-style: normal;
  font-weight: 400;
  font-display: swap;
  src: url(https://fonts.gstatic.com/s/roboto/v27/KFOmCnqEu92Fr1Mu7GxKKTU1Kvnz.woff2)
    format('woff2');
  unicode-range: U+0100-024F, U+0259, U+1E00-1EFF, U+2020, U+20A0-20AB,
    U+20AD-20CF, U+2113, U+2C60-2C7F, U+A720-A7FF;
}
/* latin */
@font-face {
  font-family: 'Roboto';
  font-style: normal;
  font-weight: 400;
  font-display: swap;
  src: url(https://fonts.gstatic.com/s/roboto/v27/KFOmCnqEu92Fr1Mu4mxKKTU1Kg.woff2)
    format('woff2');
  unicode-range: U+0000-00FF, U+0131, U+0152-0153, U+02BB-02BC, U+02C6, U+02DA,
    U+02DC, U+2000-206F, U+2074, U+20AC, U+2122, U+2191, U+2193, U+2212, U+2215,
    U+FEFF, U+FFFD;
}
/* latin-ext */
@font-face {
  font-family: 'Roboto';
  font-style: normal;
  font-weight: 700;
  font-display: swap;
  src: url(https://fonts.gstatic.com/s/roboto/v27/KFOlCnqEu92Fr1MmWUlfChc4AMP6lbBP.woff2)
    format('woff2');
  unicode-range: U+0100-024F, U+0259, U+1E00-1EFF, U+2020, U+20A0-20AB,
    U+20AD-20CF, U+2113, U+2C60-2C7F, U+A720-A7FF;
}
/* latin */
@font-face {
  font-family: 'Roboto';
  font-style: normal;
  font-weight: 700;
  font-display: swap;
  src: url(https://fonts.gstatic.com/s/roboto/v27/KFOlCnqEu92Fr1MmWUlfBBc4AMP6lQ.woff2)
    format('woff2');
  unicode-range: U+0000-00FF, U+0131, U+0152-0153, U+02BB-02BC, U+02C6, U+02DA,
    U+02DC, U+2000-206F, U+2074, U+20AC, U+2122, U+2191, U+2193, U+2212, U+2215,
    U+FEFF, U+FFFD;
}

/* latin-ext */
@font-face {
  font-family: 'Roboto Mono';
  font-style: normal;
  font-weight: 400;
  font-display: swap;
  src: url(https://fonts.gstatic.com/s/robotomono/v13/L0xuDF4xlVMF-BfR8bXMIhJHg45mwgGEFl0_3vq_SuW-AJi8SJQtQ4Y.woff)
    format('woff');
  unicode-range: U+0100-024F, U+0259, U+1E00-1EFF, U+2020, U+20A0-20AB,
    U+20AD-20CF, U+2113, U+2C60-2C7F, U+A720-A7FF;
}
/* latin */
@font-face {
  font-family: 'Roboto Mono';
  font-style: normal;
  font-weight: 400;
  font-display: swap;
  src: url(https://fonts.gstatic.com/s/robotomono/v13/L0xuDF4xlVMF-BfR8bXMIhJHg45mwgGEFl0_3vq_ROW-AJi8SJQt.woff)
    format('woff');
  unicode-range: U+0000-00FF, U+0131, U+0152-0153, U+02BB-02BC, U+02C6, U+02DA,
    U+02DC, U+2000-206F, U+2074, U+20AC, U+2122, U+2191, U+2193, U+2212, U+2215,
    U+FEFF, U+FFFD;
}

.text-style-1 {
  font-size: $font-style-1-font-size;
  font-family: $font-style-1-font-family;
  font-weight: $font-style-1-font-weight;
  text-decoration: $font-style-1-text-decoration;
  line-height: $font-style-1-line-height;
  color: $color-text-black;
}

.text-style-2 {
  font-size: $font-style-2-font-size;
  font-family: $font-style-2-font-family;
  font-weight: $font-style-2-font-weight;
  text-decoration: $font-style-2-text-decoration;
  line-height: $font-style-2-line-height;
  color: $color-text-black;
}

.text-style-3 {
  font-size: $font-style-3-font-size;
  font-family: $font-style-3-font-family;
  font-weight: $font-style-3-font-weight;
  text-decoration: $font-style-3-text-decoration;
  line-height: $font-style-3-line-height;
  color: $color-text-black;
}

.text-style-4 {
  font-size: $font-style-4-font-size;
  font-family: $font-style-4-font-family;
  font-weight: $font-style-4-font-weight;
  text-decoration: $font-style-4-text-decoration;
  line-height: $font-style-4-line-height;
  color: $color-text-black;
}

.text-style-5 {
  font-size: $font-style-5-font-size;
  font-family: $font-style-5-font-family;
  font-weight: $font-style-5-font-weight;
  text-decoration: $font-style-5-text-decoration;
  line-height: $font-style-5-line-height;
  color: $color-text-black;
}

.text-style-6 {
  font-size: $font-style-6-font-size;
  font-family: $font-style-6-font-family;
  font-weight: $font-style-6-font-weight;
  text-decoration: $font-style-6-text-decoration;
  line-height: $font-style-6-line-height;
  color: $color-text-black;
}

.text-style-7 {
  font-size: $font-style-7-font-size;
  font-family: $font-style-7-font-family;
  font-weight: $font-style-7-font-weight;
  text-decoration: $font-style-7-text-decoration;
  line-height: $font-style-7-line-height;
  color: $color-text-black;
}

.text-bold-style-1 {
  font-size: $font-bold-style-1-font-size;
  font-family: $font-bold-style-1-font-family;
  font-weight: $font-bold-style-1-font-weight;
  text-decoration: $font-bold-style-1-text-decoration;
  line-height: $font-bold-style-1-line-height;
  color: $color-text-black;
}

.text-bold-style-2 {
  font-size: $font-bold-style-2-font-size;
  font-family: $font-bold-style-2-font-family;
  font-weight: $font-bold-style-2-font-weight;
  text-decoration: $font-bold-style-2-text-decoration;
  line-height: $font-bold-style-2-line-height;
  color: $color-text-black;
}

.text-bold-style-3 {
  font-size: $font-bold-style-3-font-size;
  font-family: $font-bold-style-3-font-family;
  font-weight: $font-bold-style-3-font-weight;
  text-decoration: $font-bold-style-3-text-decoration;
  line-height: $font-bold-style-3-line-height;
  color: $color-text-black;
}

.text-bold-style-4 {
  font-size: $font-bold-style-4-font-size;
  font-family: $font-bold-style-4-font-family;
  font-weight: $font-bold-style-4-font-weight;
  text-decoration: $font-bold-style-4-text-decoration;
  line-height: $font-bold-style-4-line-height;
  color: $color-text-black;
}

.text-bold-style-5 {
  font-size: $font-bold-style-5-font-size;
  font-family: $font-bold-style-5-font-family;
  font-weight: $font-bold-style-5-font-weight;
  text-decoration: $font-bold-style-5-text-decoration;
  line-height: $font-bold-style-5-line-height;
  color: $color-text-black;
}

.text-bold-style-6 {
  font-size: $font-bold-style-6-font-size;
  font-family: $font-bold-style-6-font-family;
  font-weight: $font-bold-style-6-font-weight;
  text-decoration: $font-bold-style-6-text-decoration;
  line-height: $font-bold-style-6-line-height;
  color: $color-text-black;
}

.text-bold-style-7 {
  font-size: $font-bold-style-7-font-size;
  font-family: $font-bold-style-7-font-family;
  font-weight: $font-bold-style-7-font-weight;
  text-decoration: $font-bold-style-7-text-decoration;
  line-height: $font-bold-style-7-line-height;
  color: $color-text-black;
}

.text-links-style-2 {
  font-size: $font-links-style-2-font-size;
  font-family: $font-links-style-2-font-family;
  font-weight: $font-links-style-2-font-weight;
  text-decoration: $font-links-style-2-text-decoration;
  line-height: $font-links-style-2-line-height;
  color: $color-actions-primary-default;
  &:hover {
    color: $color-actions-primary-hover;
  }
}

.text-links-style-3 {
  font-size: $font-links-style-3-font-size;
  font-family: $font-links-style-3-font-family;
  font-weight: $font-links-style-3-font-weight;
  text-decoration: $font-links-style-3-text-decoration;
  line-height: $font-links-style-3-line-height;
  color: $color-actions-primary-default;
  &:hover {
    color: $color-actions-primary-hover;
  }
}

.text-links-style-4 {
  font-size: $font-links-style-4-font-size;
  font-family: $font-links-style-4-font-family;
  font-weight: $font-links-style-4-font-weight;
  text-decoration: $font-links-style-4-text-decoration;
  line-height: $font-links-style-4-line-height;
  color: $color-actions-primary-default;
  &:hover {
    color: $color-actions-primary-hover;
  }
}

.text-links-style-5 {
  font-size: $font-links-style-5-font-size;
  font-family: $font-links-style-5-font-family;
  font-weight: $font-links-style-5-font-weight;
  text-decoration: $font-links-style-5-text-decoration;
  line-height: $font-links-style-5-line-height;
  color: $color-actions-primary-default;
  &:hover {
    color: $color-actions-primary-hover;
  }
}

.text-links-style-6 {
  font-size: $font-links-style-6-font-size;
  font-family: $font-links-style-6-font-family;
  font-weight: $font-links-style-6-font-weight;
  text-decoration: $font-links-style-6-text-decoration;
  line-height: $font-links-style-6-line-height;
  color: $color-actions-primary-default;
  &:hover {
    color: $color-actions-primary-hover;
  }
}

.text-links-style-7 {
  font-size: $font-links-style-7-font-size;
  font-family: $font-links-style-7-font-family;
  font-weight: $font-links-style-7-font-weight;
  text-decoration: $font-links-style-7-text-decoration;
  line-height: $font-links-style-7-line-height;
  color: $color-actions-primary-default;
  &:hover {
    color: $color-actions-primary-hover;
  }
}

p,
label,
input,
select,
textarea {
  @extend .text-style-6;
  display: block;
}

b,
em,
strong {
  @extend .text-bold-style-6;
}

small,
.input-help-text,
.text-small {
  @extend .text-style-7;
  a {
    @extend .text-links-style-7;
  }
}

a.text-small {
  @extend .text-links-style-7;
}

a {
  @extend .text-links-style-6;
}

.button,
a.button {
  @extend .text-bold-style-7;
  &.button-large {
    @extend .text-bold-style-6;
    color: $color-text-white;
  }
  &.list-button {
    @extend .text-style-6;
  }
}

.text-danger,
button.text-danger,
a.text-danger {
  color: $color-text-danger;
}

.text-error {
  @extend .text-danger;
  &:before {
    content: url("data:image/svg+xml,%3Csvg width='17' height='16' viewBox='0 0 17 16' fill='none' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath d='M9.18633 0.413957C8.89432 -0.137986 7.98623 -0.137986 7.69422 0.413957L0.0986873 14.7611C0.0303136 14.8897 -0.00358318 15.0338 0.000299762 15.1794C0.0041827 15.325 0.0457129 15.4671 0.120844 15.5918C0.195975 15.7166 0.302144 15.8198 0.429007 15.8913C0.555869 15.9628 0.699098 16.0003 0.844738 16H16.0358C16.1814 16.0003 16.3245 15.9629 16.4513 15.8914C16.578 15.8199 16.6841 15.7168 16.7592 15.5921C16.8342 15.4674 16.8757 15.3254 16.8795 15.1799C16.8834 15.0344 16.8494 14.8904 16.781 14.7619L9.18633 0.413957ZM9.28422 13.4682H7.59633V11.7803H9.28422V13.4682ZM7.59633 10.0924V5.87262H9.28422L9.28507 10.0924H7.59633Z' fill='%23EA0B0C'/%3E%3C/svg%3E%0A");
    margin-right: $magic-number / 2;
  }
}

.ellipsis {
  text-overflow: ellipsis;
  /* white-space: nowrap; */
  overflow: hidden;
}

@for $i from 1 through 6 {
  h#{$i} {
    @extend .text-style-#{$i};
  }
}
